<template>
  <header v-bind:class="{ active: isMenuOpen && $nuxt.$route.path !== '/' }">
    <div class="logo-container">
      <nuxt-link to="/" class="logo">A</nuxt-link>
      <a href="" class="name">Anže</a>
    </div>

    <div
      id="menuToggle"
      v-bind:class="{ open: isMenuOpen }"
      @click="isMenuOpen = !isMenuOpen"
    >
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="pages" v-bind:class="{ active: isMenuOpen }">
      <nuxt-link @click.native="isMenuOpen = false" class="page" to="/">
        <p>Home</p>
        <svg
          version="1.1"
          id="Capa_1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px"
          y="0px"
          viewBox="0 0 486.196 486.196"
          style="enable-background: new 0 0 486.196 486.196;"
          xml:space="preserve"
        >
          <g>
            <path
              d="M481.708,220.456l-228.8-204.6c-0.4-0.4-0.8-0.7-1.3-1c-5-4.8-13-5-18.3-0.3l-228.8,204.6c-5.6,5-6,13.5-1.1,19.1
		c2.7,3,6.4,4.5,10.1,4.5c3.2,0,6.4-1.1,9-3.4l41.2-36.9v7.2v106.8v124.6c0,18.7,15.2,34,34,34c0.3,0,0.5,0,0.8,0s0.5,0,0.8,0h70.6
		c17.6,0,31.9-14.3,31.9-31.9v-121.3c0-2.7,2.2-4.9,4.9-4.9h72.9c2.7,0,4.9,2.2,4.9,4.9v121.3c0,17.6,14.3,31.9,31.9,31.9h72.2
		c19,0,34-18.7,34-42.6v-111.2v-34v-83.5l41.2,36.9c2.6,2.3,5.8,3.4,9,3.4c3.7,0,7.4-1.5,10.1-4.5
		C487.708,233.956,487.208,225.456,481.708,220.456z M395.508,287.156v34v111.1c0,9.7-4.8,15.6-7,15.6h-72.2c-2.7,0-4.9-2.2-4.9-4.9
		v-121.1c0-17.6-14.3-31.9-31.9-31.9h-72.9c-17.6,0-31.9,14.3-31.9,31.9v121.3c0,2.7-2.2,4.9-4.9,4.9h-70.6c-0.3,0-0.5,0-0.8,0
		s-0.5,0-0.8,0c-3.8,0-7-3.1-7-7v-124.7v-106.8v-31.3l151.8-135.6l153.1,136.9L395.508,287.156L395.508,287.156z"
            />
          </g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
        </svg>
      </nuxt-link>
      <nuxt-link @click.native="isMenuOpen = false" class="page" to="/about">
        <p>About</p>
        <svg
          version="1.1"
          id="Capa_1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px"
          y="0px"
          viewBox="0 0 482.9 482.9"
          style="enable-background: new 0 0 482.9 482.9;"
          xml:space="preserve"
        >
          <g>
            <g>
              <path
                d="M239.7,260.2c0.5,0,1,0,1.6,0c0.2,0,0.4,0,0.6,0c0.3,0,0.7,0,1,0c29.3-0.5,53-10.8,70.5-30.5
			c38.5-43.4,32.1-117.8,31.4-124.9c-2.5-53.3-27.7-78.8-48.5-90.7C280.8,5.2,262.7,0.4,242.5,0h-0.7c-0.1,0-0.3,0-0.4,0h-0.6
			c-11.1,0-32.9,1.8-53.8,13.7c-21,11.9-46.6,37.4-49.1,91.1c-0.7,7.1-7.1,81.5,31.4,124.9C186.7,249.4,210.4,259.7,239.7,260.2z
			 M164.6,107.3c0-0.3,0.1-0.6,0.1-0.8c3.3-71.7,54.2-79.4,76-79.4h0.4c0.2,0,0.5,0,0.8,0c27,0.6,72.9,11.6,76,79.4
			c0,0.3,0,0.6,0.1,0.8c0.1,0.7,7.1,68.7-24.7,104.5c-12.6,14.2-29.4,21.2-51.5,21.4c-0.2,0-0.3,0-0.5,0l0,0c-0.2,0-0.3,0-0.5,0
			c-22-0.2-38.9-7.2-51.4-21.4C157.7,176.2,164.5,107.9,164.6,107.3z"
              />
              <path
                d="M446.8,383.6c0-0.1,0-0.2,0-0.3c0-0.8-0.1-1.6-0.1-2.5c-0.6-19.8-1.9-66.1-45.3-80.9c-0.3-0.1-0.7-0.2-1-0.3
			c-45.1-11.5-82.6-37.5-83-37.8c-6.1-4.3-14.5-2.8-18.8,3.3c-4.3,6.1-2.8,14.5,3.3,18.8c1.7,1.2,41.5,28.9,91.3,41.7
			c23.3,8.3,25.9,33.2,26.6,56c0,0.9,0,1.7,0.1,2.5c0.1,9-0.5,22.9-2.1,30.9c-16.2,9.2-79.7,41-176.3,41
			c-96.2,0-160.1-31.9-176.4-41.1c-1.6-8-2.3-21.9-2.1-30.9c0-0.8,0.1-1.6,0.1-2.5c0.7-22.8,3.3-47.7,26.6-56
			c49.8-12.8,89.6-40.6,91.3-41.7c6.1-4.3,7.6-12.7,3.3-18.8c-4.3-6.1-12.7-7.6-18.8-3.3c-0.4,0.3-37.7,26.3-83,37.8
			c-0.4,0.1-0.7,0.2-1,0.3c-43.4,14.9-44.7,61.2-45.3,80.9c0,0.9,0,1.7-0.1,2.5c0,0.1,0,0.2,0,0.3c-0.1,5.2-0.2,31.9,5.1,45.3
			c1,2.6,2.8,4.8,5.2,6.3c3,2,74.9,47.8,195.2,47.8s192.2-45.9,195.2-47.8c2.3-1.5,4.2-3.7,5.2-6.3
			C447,415.5,446.9,388.8,446.8,383.6z"
              />
            </g>
          </g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
        </svg>
      </nuxt-link>
      <nuxt-link @click.native="isMenuOpen = false" class="page" to="/skills">
        <p>Skills</p>
        <svg
          version="1.1"
          id="Capa_1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px"
          y="0px"
          viewBox="0 0 478.703 478.703"
          style="enable-background: new 0 0 478.703 478.703;"
          xml:space="preserve"
        >
          <g>
            <g>
              <path
                d="M454.2,189.101l-33.6-5.7c-3.5-11.3-8-22.2-13.5-32.6l19.8-27.7c8.4-11.8,7.1-27.9-3.2-38.1l-29.8-29.8
			c-5.6-5.6-13-8.7-20.9-8.7c-6.2,0-12.1,1.9-17.1,5.5l-27.8,19.8c-10.8-5.7-22.1-10.4-33.8-13.9l-5.6-33.2
			c-2.4-14.3-14.7-24.7-29.2-24.7h-42.1c-14.5,0-26.8,10.4-29.2,24.7l-5.8,34c-11.2,3.5-22.1,8.1-32.5,13.7l-27.5-19.8
			c-5-3.6-11-5.5-17.2-5.5c-7.9,0-15.4,3.1-20.9,8.7l-29.9,29.8c-10.2,10.2-11.6,26.3-3.2,38.1l20,28.1
			c-5.5,10.5-9.9,21.4-13.3,32.7l-33.2,5.6c-14.3,2.4-24.7,14.7-24.7,29.2v42.1c0,14.5,10.4,26.8,24.7,29.2l34,5.8
			c3.5,11.2,8.1,22.1,13.7,32.5l-19.7,27.4c-8.4,11.8-7.1,27.9,3.2,38.1l29.8,29.8c5.6,5.6,13,8.7,20.9,8.7c6.2,0,12.1-1.9,17.1-5.5
			l28.1-20c10.1,5.3,20.7,9.6,31.6,13l5.6,33.6c2.4,14.3,14.7,24.7,29.2,24.7h42.2c14.5,0,26.8-10.4,29.2-24.7l5.7-33.6
			c11.3-3.5,22.2-8,32.6-13.5l27.7,19.8c5,3.6,11,5.5,17.2,5.5l0,0c7.9,0,15.3-3.1,20.9-8.7l29.8-29.8c10.2-10.2,11.6-26.3,3.2-38.1
			l-19.8-27.8c5.5-10.5,10.1-21.4,13.5-32.6l33.6-5.6c14.3-2.4,24.7-14.7,24.7-29.2v-42.1
			C478.9,203.801,468.5,191.501,454.2,189.101z M451.9,260.401c0,1.3-0.9,2.4-2.2,2.6l-42,7c-5.3,0.9-9.5,4.8-10.8,9.9
			c-3.8,14.7-9.6,28.8-17.4,41.9c-2.7,4.6-2.5,10.3,0.6,14.7l24.7,34.8c0.7,1,0.6,2.5-0.3,3.4l-29.8,29.8c-0.7,0.7-1.4,0.8-1.9,0.8
			c-0.6,0-1.1-0.2-1.5-0.5l-34.7-24.7c-4.3-3.1-10.1-3.3-14.7-0.6c-13.1,7.8-27.2,13.6-41.9,17.4c-5.2,1.3-9.1,5.6-9.9,10.8l-7.1,42
			c-0.2,1.3-1.3,2.2-2.6,2.2h-42.1c-1.3,0-2.4-0.9-2.6-2.2l-7-42c-0.9-5.3-4.8-9.5-9.9-10.8c-14.3-3.7-28.1-9.4-41-16.8
			c-2.1-1.2-4.5-1.8-6.8-1.8c-2.7,0-5.5,0.8-7.8,2.5l-35,24.9c-0.5,0.3-1,0.5-1.5,0.5c-0.4,0-1.2-0.1-1.9-0.8l-29.8-29.8
			c-0.9-0.9-1-2.3-0.3-3.4l24.6-34.5c3.1-4.4,3.3-10.2,0.6-14.8c-7.8-13-13.8-27.1-17.6-41.8c-1.4-5.1-5.6-9-10.8-9.9l-42.3-7.2
			c-1.3-0.2-2.2-1.3-2.2-2.6v-42.1c0-1.3,0.9-2.4,2.2-2.6l41.7-7c5.3-0.9,9.6-4.8,10.9-10c3.7-14.7,9.4-28.9,17.1-42
			c2.7-4.6,2.4-10.3-0.7-14.6l-24.9-35c-0.7-1-0.6-2.5,0.3-3.4l29.8-29.8c0.7-0.7,1.4-0.8,1.9-0.8c0.6,0,1.1,0.2,1.5,0.5l34.5,24.6
			c4.4,3.1,10.2,3.3,14.8,0.6c13-7.8,27.1-13.8,41.8-17.6c5.1-1.4,9-5.6,9.9-10.8l7.2-42.3c0.2-1.3,1.3-2.2,2.6-2.2h42.1
			c1.3,0,2.4,0.9,2.6,2.2l7,41.7c0.9,5.3,4.8,9.6,10,10.9c15.1,3.8,29.5,9.7,42.9,17.6c4.6,2.7,10.3,2.5,14.7-0.6l34.5-24.8
			c0.5-0.3,1-0.5,1.5-0.5c0.4,0,1.2,0.1,1.9,0.8l29.8,29.8c0.9,0.9,1,2.3,0.3,3.4l-24.7,34.7c-3.1,4.3-3.3,10.1-0.6,14.7
			c7.8,13.1,13.6,27.2,17.4,41.9c1.3,5.2,5.6,9.1,10.8,9.9l42,7.1c1.3,0.2,2.2,1.3,2.2,2.6v42.1H451.9z"
              />
              <path
                d="M239.4,136.001c-57,0-103.3,46.3-103.3,103.3s46.3,103.3,103.3,103.3s103.3-46.3,103.3-103.3S296.4,136.001,239.4,136.001
			z M239.4,315.601c-42.1,0-76.3-34.2-76.3-76.3s34.2-76.3,76.3-76.3s76.3,34.2,76.3,76.3S281.5,315.601,239.4,315.601z"
              />
            </g>
          </g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
        </svg>
      </nuxt-link>
      <nuxt-link @click.native="isMenuOpen = false" class="page" to="/work">
        <p>Work</p>
        <svg
          version="1.1"
          id="Artwork"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px"
          y="0px"
          viewBox="0 0 512 512"
          enable-background="new 0 0 512 512"
          xml:space="preserve"
        >
          <g>
            <path
              d="M98.8,366.6h103.5c3.9,8.5,12.5,14.5,22.4,14.5h62.4c10,0,18.6-6,22.4-14.5h103.6c6.8,0,12.3-5.5,12.3-12.3
      s-5.5-12.2-12.3-12.2H299.5c-6.8,0-12.3,5.5-12.3,12.2l-0.1,2.3l-62.5-0.1v-2.2c0-6.8-5.5-12.2-12.3-12.2H98.8
      c-6.8,0-12.3,5.5-12.3,12.2S92,366.6,98.8,366.6z"
            />
            <path
              d="M58.7,424.7h394.6c26,0,47.1-21.1,47.1-47.1v-23.2c0-6.8-5.5-12.2-12.3-12.2h-23.2V119.4c0-0.4,0-0.8-0.1-1.2
      c-1.7-17.6-16-30.9-33.1-30.9H79c-17.7,0-32.1,14.4-32.1,32.1v222.7H23.8c-6.8,0-12.3,5.5-12.3,12.2v23.2
      C11.5,403.5,32.7,424.7,58.7,424.7z M36,366.6h23.1c6.8,0,12.3-5.5,12.3-12.3V119.4c0-4.2,3.4-7.6,7.6-7.6h352.8
      c4.3,0,8,3.6,8.7,8.3v234.2c0,6.8,5.6,12.3,12.3,12.3H476v10.9c0,12.5-10.2,22.6-22.6,22.6H58.7C46.2,400.2,36,390,36,377.6V366.6z
      "
            />
            <path
              d="M226.1,277.4c2.3,2.3,5.4,3.6,8.7,3.6c0,0,0,0,0,0c3.2,0,6.3-1.3,8.6-3.6l72.8-72.4c4.8-4.8,4.8-12.5,0.1-17.3
      c-4.8-4.8-12.5-4.8-17.3,0l-64.1,63.8l-21.8-21.9c-4.8-4.8-12.5-4.8-17.3,0c-4.8,4.8-4.8,12.5-0.1,17.3L226.1,277.4z"
            />
          </g>
        </svg>
      </nuxt-link>
      <nuxt-link @click.native="isMenuOpen = false" class="page" to="/contact">
        <p>Contact</p>
        <svg
          version="1.1"
          id="Capa_1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px"
          y="0px"
          viewBox="0 0 483.3 483.3"
          style="enable-background: new 0 0 483.3 483.3;"
          xml:space="preserve"
        >
          <g>
            <g>
              <path
                d="M424.3,57.75H59.1c-32.6,0-59.1,26.5-59.1,59.1v249.6c0,32.6,26.5,59.1,59.1,59.1h365.1c32.6,0,59.1-26.5,59.1-59.1
			v-249.5C483.4,84.35,456.9,57.75,424.3,57.75z M456.4,366.45c0,17.7-14.4,32.1-32.1,32.1H59.1c-17.7,0-32.1-14.4-32.1-32.1v-249.5
			c0-17.7,14.4-32.1,32.1-32.1h365.1c17.7,0,32.1,14.4,32.1,32.1v249.5H456.4z"
              />
              <path
                d="M304.8,238.55l118.2-106c5.5-5,6-13.5,1-19.1c-5-5.5-13.5-6-19.1-1l-163,146.3l-31.8-28.4c-0.1-0.1-0.2-0.2-0.2-0.3
			c-0.7-0.7-1.4-1.3-2.2-1.9L78.3,112.35c-5.6-5-14.1-4.5-19.1,1.1c-5,5.6-4.5,14.1,1.1,19.1l119.6,106.9L60.8,350.95
			c-5.4,5.1-5.7,13.6-0.6,19.1c2.7,2.8,6.3,4.3,9.9,4.3c3.3,0,6.6-1.2,9.2-3.6l120.9-113.1l32.8,29.3c2.6,2.3,5.8,3.4,9,3.4
			c3.2,0,6.5-1.2,9-3.5l33.7-30.2l120.2,114.2c2.6,2.5,6,3.7,9.3,3.7c3.6,0,7.1-1.4,9.8-4.2c5.1-5.4,4.9-14-0.5-19.1L304.8,238.55z"
              />
            </g>
          </g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
        </svg>
      </nuxt-link>
    </div>
    <div class="links">
      <div class="link">
        <a href="https://gitlab.com/skuljanze95/" target="blank">
          GitLab
        </a>
      </div>

      <div class="link">
        <a
          href="https://www.linkedin.com/in/an%C5%BEe-%C5%A1kulj-45b35617b/"
          target="blank"
        >
          LinkedIn
        </a>
      </div>
    </div>
  </header>
</template>
<script>
export default {
  data() {
    return {
      isMenuOpen: false,
    };
  },
};
</script>
<style lang="scss" scoped>
header {
  height: 100vh;
  width: 68px;
  background-color: $primary-color;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .logo-container {
    background-color: $secondary-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 0;
    .logo {
      cursor: pointer;
      color: $accent-color;
      font-size: 3.4rem;
      font-weight: 700;
      line-height: 1;
    }
    .name {
      color: $text-primary;
      font-size: 0.8rem;
      font-weight: 700;
    }
  }

  .pages {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    .page {
      height: 38px;
      margin: 0.4rem auto;
      position: relative;
      cursor: pointer;
      display: flex;

      p {
        transition-duration: 0.3s;
        position: absolute;
        font-weight: 700;
        font-size: 1rem;
        color: $accent-color;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
      }
      svg {
        transition-duration: 0.3s;
        fill: $text-primary;
        width: 25px;
      }
      &:hover {
        p {
          transition-duration: 0.3s;
          opacity: 1;
        }
        svg {
          transition-duration: 0.3s;
          opacity: 0;
        }
      }
    }
  }
  .links {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.56rem 0;

    .link {
      font-size: 0.8rem;
      font-weight: 600;
      padding: 0.2rem 0;
      a {
        color: $text-primary;
        transition-duration: 0.3s;

        &:hover {
          color: $accent-color;
        }
      }
    }
  }
}
.nuxt-link-exact-active {
  svg {
    fill: $accent-color !important;
  }
}
#menuToggle {
  display: none;
  width: 35px;
  height: 24px;
  position: fixed;
  margin-right: auto;
  top: 16px;
  right: 16px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#menuToggle span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: $text-primary;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#menuToggle span:nth-child(1) {
  top: 0px;
}

#menuToggle span:nth-child(2) {
  top: 12px;
}

#menuToggle span:nth-child(3) {
  top: 24px;
}

#menuToggle.open span:nth-child(1) {
  top: 12px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#menuToggle.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#menuToggle.open span:nth-child(3) {
  top: 12px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
@media only screen and (max-width: 768px) {
  header {
    transition-duration: 0.5s;
    position: relative;
    width: 100%;
    height: 60px;

    .logo-container {
      justify-content: center;
      width: 60px;
      padding: 0;
      height: 100%;
      .logo {
        font-size: 2.8rem;
        line-height: 0.8;
      }
      .name {
        color: $text-primary;
        font-size: 0.7rem;
        font-weight: 700;
        line-height: 1;
      }
    }
    .pages {
      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
      background-color: #181818;
      position: absolute;
      flex-direction: row;
      width: 100%;
      right: -100%;
      top: 58px;
      .page {
        width: 100%;
        justify-content: center;
      }
      &.active {
        transform: translate(-100%, 0);
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
      }
    }
    .links {
      display: none;
    }
    &.active {
      transition-duration: 0.5s;
    }
  }

  #menuToggle {
    display: block;
  }
}
</style>
