// COLOR
$background-color: #333;
$primary-color: #181818;
$secondary-color: #070707;
$accent-color: #643173;

// FONT COLORS
$text-primary: #fff;
$text-secondary: #b4b4b4;
$text-disabled: #555555;

//MixIns

@mixin title {
  color: $text-primary;
  font-size: 3.5rem;
  line-height: 1;
  margin-bottom: 0.5rem;
  font-weight: 600;
}
@mixin text {
  color: $text-primary;
  padding: 0.5rem 0;
  max-width: 90vw;
}

@mixin link {
  color: $text-primary;
  text-decoration: underline;
  transition-duration: 0.3s;
  &:hover {
    color: $accent-color;
  }
}
