<template>
  <div class="app">
    <TheAppBar />
    <Nuxt />
  </div>
</template>
<style lang="scss">
* {
  text-decoration: none;
  margin: 0;
  padding: 0px;
  -webkit-tap-highlight-color: transparent;
}
html {
  font-family: "Nunito", "sans-serif";
}
.app {
  background-color: $background-color;
  display: flex;
  height: 100vh;
}

.container-fluid {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
}
.box {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0 6%;
}

@media only screen and (max-width: 768px) {
  .app {
    flex-direction: column;
    overflow-x: hidden;
    height: 100vh;
  }
  .container-fluid {
    align-items: flex-start;
    margin-top: 60px;
    height: calc(100vh - 60px);
  }
  .container-fluid {
    padding: 0 !important;
    margin: 0 !important;
  }
  .box {
    height: auto;
    padding: 20px 0.5rem;
  }
}
</style>
