<template>
  <div class="container-fluid">
    <div class="about row box ">
      <div class="col-md-5">
        <h1 class="about__title">About me</h1>
        <p class="about__text">
          Hi, my name is Anže Škulj. I'm a 26 year-old front-end developer from
          Slovenia.
        </p>
        <p class="about__text">
          2010 – Freshman year of High school, computer science program i got
          got introduced to programming with Java, PHP, MySQL, HTML, CSS.
        </p>
        <p class="about__text">
          2014 – After high school, I started developing games for android and
          iOS using Unity 3D and C#.
        </p>
        <p class="about__text">
          2018 – I moved to front end development. Developing websites with
          Wordpress, HTML, CSS, JS.
        </p>
        <p class="about__text">
          2019 - In the second half of 2019, I started developing with Flutter
          and Angular/Vue
        </p>
        <p class="about__text">
          2020 - Mostly working with Vue.js and Flutter
        </p>
      </div>
      <div class="col-md-5 about__trex">
        <iframe
          src="https://brave-roentgen-b12e85.netlify.app/"
          width="100%"
          height="220"
          frameborder="0"
          scrolling="no"
        ></iframe>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "About",
  data() {
    return {
      publicPath: process.env.BASE_URL,
    };
  },
};
</script>

<style lang="scss" scoped>
.about__title {
  @include title;
}
.about__text {
  @include text;
}
.about__trex {
  max-width: 700px;
}
@media only screen and (max-width: 768px) {
  .container-fluid {
    padding: 0 0.5rem !important;
  }
  .about__trex {
    width: 100vw;
    margin: 20px 0 50px;
  }
}
</style>
