<template>
  <div class="container-fluid">
    <div class=" box row">
      <div class="contact">
        <h1 class="contact__title">Contact me</h1>
        <p class="contact__text">
          I am interested in freelance opportunities. <br /><br />However, if
          you have other requests or questions, don’t hesitate to contact me
          using the below form either.
        </p>

        <p class="contact__text">
          You can contact me on
          <span>
            <a
              href="https://www.linkedin.com/in/an%C5%BEe-%C5%A1kulj-45b35617b/"
              target="blank"
              class="contact__link"
            >
              LinkedIn
            </a></span
          >
        </p>
      </div>
    </div>
  </div>
</template>

<script>
export default { name: "Contact" };
</script>

<style lang="scss" scoped>
.contact__title {
  @include title;
}
.contact__text {
  @include text;
}
.contact__link {
  @include link;
}
@media only screen and (max-width: 768px) {
  .container-fluid {
    padding: 0 0.5rem !important;
  }
}
</style>
