<template
  ><div class="container-fluid">
    <div class="home box row">
      <div class="col-12">
        <h1 class="home__title">
          Hi,<br />
          I'm Anže
        </h1>

        <p class="home__subtitle">Front End / Flutter Developer</p>

        <div class="home__buttons">
          <nuxt-link to="/work" class="home__button">MY WORK</nuxt-link>
          <a
            href="/cv.pdf"
            target="_blank"
            class="home__button home__button--cv"
            >DOWNLOAD CV</a
          >
        </div>
      </div>
    </div>
  </div>
</template>
<style lang="scss" scoped>
.home__title {
  @include title;
  font-size: 3.8rem;
}
.home__subtitle {
  padding: 0.8rem 0;
  color: $text-secondary;
  font-size: 1.2rem;
  margin-top: -0.5rem;
  font-weight: 600;
  letter-spacing: 1px;
}
.home__buttons {
  display: flex;
}
.home__button {
  margin: 0.2rem 0;
  padding: 10px;
  color: $text-primary;
  font-weight: 700;
  border: solid 3px $text-primary;
  border-radius: 6px;
  letter-spacing: 1px;

  &:hover {
    transition-duration: 0.3s;
    background-color: $accent-color;
    border: solid 3px $accent-color;
  }
}
.home__button--cv {
  margin-left: 0.5rem;
  color: $accent-color;
  border-color: $accent-color;
  &:hover {
    transition-duration: 0.3s;
    background-color: $accent-color;
    color: $background-color;
    border: solid 3px $accent-color;
  }
}
@media only screen and (max-width: 768px) {
  .container-fluid {
    align-items: center;
    padding: 0 0.5rem !important;
  }
}
</style>
