<template>
  <div class="container-fluid">
    <div class="skills box row  ">
      <div class="col-md-5">
        <h1 class="skills__title">Skills & Experiance</h1>
        <p class="skills__text">
          The main area of my expertise is front end and mobile development
        </p>
        <p class="skills__text">
          I use HTML, CSS, JS to create responsive web sites. I have experience
          with Vue and Flutter and I can create small to medium-sized web apps,
          which are showcased in my portfolio.
        </p>
        <p class="skills__text">
          For game development, I use Unity 3D with the help of C# and JS.
        </p>
        <p class="skills__text">
          <a href="/cv.pdf" target="_blank">download my resume</a>
          or
          <nuxt-link to="/contact">contact</nuxt-link>
          me.
        </p>
      </div>
      <div class="col-md-5">
        <div class="skills__skill-tree">
          <ul>
            <li ref="myid" v-for="(listTtem, index) in list" v-bind:key="index">
              {{ listTtem.name }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Skills",
  data() {
    return {
      list: [
        { name: "Unity3D", positionY: -86, positionX: 168 },
        { name: "Linux Server", positionY: 85, positionX: 50 },
        { name: "Vue.js", positionY: -65, positionX: -127 },
        { name: "Nuxt.js", positionY: 59, positionX: -94 },
        { name: "HTML", positionY: 8, positionX: -143 },
        { name: "SCSS", positionY: -124, positionX: 59 },
        { name: "MySQL", positionY: -20, positionX: 186 },
        { name: "C#", positionY: -66, positionX: -12 },
        { name: "Flutter", positionY: -168, positionX: -8 },
        { name: "WordPress", positionY: -12, positionX: 60 },
        { name: "Bootstrap", positionY: -107, positionX: -28 },
        { name: "JavaScript", positionY: -23, positionX: -60 },
        { name: "GraphQl", positionY: 25, positionX: -25 },
        { name: "CSS", positionY: -93, positionX: 78 },
        { name: "Angular", positionY: 28, positionX: 69 },
        { name: "TypeScript", positionY: -59, positionX: 55 },
        { name: "Firebase", positionY: 38, positionX: 165 },
        { name: "GitLab", positionY: -128, positionX: 146 },
      ],
    };
  },
  mounted() {
    this.$refs["myid"].forEach((item, index) => {
      this.$anime({
        targets: item,
        translateX: this.list[index].positionX,
        translateY: this.list[index].positionY,
        opacity: "1",
        duration: 2200,
      });
    });
  },
};
</script>

<style lang="scss" scoped>
.skills__title {
  @include title;
}
.skills__text {
  @include text;
}
.skills__skill-tree {
  margin: 80px 20% 0;
}
a {
  @include link;
}
ul {
  list-style: none;
}
li {
  color: $text-primary;
  opacity: 0;
  position: absolute;
  list-style: none;
}
@media only screen and (max-width: 768px) {
  .container-fluid {
    padding: 0 0.5rem !important;
  }
  .skills__skill-tree {
    margin: 180px 33% 0;
    transform: scale(0.9) !important;
  }
}
@media only screen and (max-width: 364px) {
  .skills__skill-tree {
    transform: scale(0.8) !important;
  }
}
</style>
