<template>
  <div class="container-fluid">
    <div class="portfolios">
      <div class="portfolio" v-for="item in portfolios" :key="item.Name">
        <img
          :src="item.Picture"
          class="portfolio__image"
          @click="openModal(item)"
        />
        <div class="portfolio__footer">
          <p class="portfolio__name">{{ item.Name }}</p>
          <div class="portfolio__links">
            <a
              target="blank"
              :href="item.Link"
              class="portfolio__link"
              v-bind:class="{ 'portfolio__link--disabled': !item.Link }"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                width="36.39"
                height="22"
                viewBox="0 0 36.39 22"
              >
                <g id="eye" data-name="eye" transform="translate(0 -98.725)">
                  <path
                    id="Path_31"
                    data-name="Path 31"
                    d="M18.195,98.725c-6.953,0-13.258,3.858-17.91,10.124a1.478,1.478,0,0,0,0,1.744c4.652,6.274,10.958,10.132,17.91,10.132s13.258-3.858,17.91-10.124a1.478,1.478,0,0,0,0-1.744C31.453,102.583,25.148,98.725,18.195,98.725Zm.5,18.746a7.763,7.763,0,1,1,7.139-7.24A7.713,7.713,0,0,1,18.694,117.471Zm-.231-3.579a4.18,4.18,0,1,1,3.849-3.9A4.144,4.144,0,0,1,18.463,113.893Z"
                    transform="translate(0 0)"
                  />
                </g></svg
            ></a>

            <a
              target="blank"
              :href="item.GitHub"
              class="portfolio__link"
              v-bind:class="{ 'portfolio__link--disabled': !item.GitHub }"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                width="40.589"
                height="22.004"
                viewBox="0 0 40.589 22.004"
              >
                <g id="html-coding" transform="translate(0 -115.08)">
                  <g
                    id="Group_13"
                    data-name="Group 13"
                    transform="translate(0 115.08)"
                  >
                    <path
                      id="Path_28"
                      data-name="Path 28"
                      d="M12.421,161.721,0,154.947V151.2l12.421-6.735v4.407l-8.655,4.158,8.655,4.314Z"
                      transform="translate(0 -142.088)"
                    />
                    <path
                      id="Path_29"
                      data-name="Path 29"
                      d="M180.094,137.084l8.237-22h2.6l-8.256,22Z"
                      transform="translate(-165.552 -115.08)"
                    />
                    <path
                      id="Path_30"
                      data-name="Path 30"
                      d="M348.843,161.7v-4.382l8.653-4.28-8.653-4.247v-4.354l12.421,6.744v3.729Z"
                      transform="translate(-320.675 -142.067)"
                    />
                  </g>
                </g></svg
            ></a>
          </div>
        </div>
      </div>
    </div>
    <modal
      class="modal"
      name="modal"
      :adaptive="true"
      width="80%"
      :minHeight="600"
      :maxWidth="1200"
    >
      <img :src="selectedPortfolio.Picture" class="modal__img" />
      <div class="modal__content">
        <p class="modal__title">{{ selectedPortfolio.Name }}</p>
        <p
          class="modal__description"
          v-html="selectedPortfolio.Description"
        ></p>
        <p class="modal__technologies">Technologies</p>
        <ul class="modal__technologies-list">
          <li v-for="item in selectedPortfolio.Technologies" :key="item">
            {{ item }}
          </li>
        </ul>
        <div class="modal__buttons">
          <a
            v-if="selectedPortfolio.GitHub"
            target="blank"
            :href="selectedPortfolio.GitHub"
            ><button>GitLab</button></a
          >
          <a
            v-if="selectedPortfolio.Link"
            target="blank"
            :href="selectedPortfolio.Link"
            ><button>View Project</button></a
          >
        </div>
      </div>
    </modal>
  </div>
</template>

<script>
export default {
  name: "Work",
  data() {
    return {
      portfolios: [],
      selectedPortfolio: {},
    };
  },
  mounted() {
    this.readFromFirestore();
  },
  methods: {
    async readFromFirestore() {
      const messageRef = this.$fire.firestore.collection("portfolios");
      try {
        const snapshot = await messageRef.get();
        this.portfolios = snapshot.docs.map((doc) => {
          return doc.data();
        });

        console.log(this.portfolios);
      } catch (e) {
        console.log(e);
      }
    },
    openModal(item) {
      this.selectedPortfolio = item;
      this.$modal.show("modal");
    },
  },
};
</script>

<style lang="scss">
.container-fluid {
  align-items: flex-start;
  justify-content: flex-start;
}
.portfolios {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}
.portfolio {
  margin: 1rem;
}
.portfolio__image {
  width: 250px;
  height: 250px;
  object-fit: contain;
  cursor: pointer;
}

.portfolio__footer {
  display: flex;
  justify-content: space-between;
}
.portfolio__link {
  svg {
    transition-duration: 0.2s;
    fill: white;
    transform: scale(0.7);
  }
  &:hover {
    svg {
      fill: $accent-color;
    }
  }
}
.portfolio__link--disabled {
  svg {
    fill: $text-disabled;
    transform: scale(0.7);
  }
  &:hover {
    cursor: auto;
    svg {
      fill: $text-disabled;
    }
  }
}
.portfolio__name {
  color: $text-primary;
  font-weight: 500;
  font-size: 1.125rem;
}
.vm--modal {
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: space-around;
}
.modal__img {
  width: 45%;
}
.modal__content {
  width: 45%;
}
.modal__title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1.2rem;
}
.modal__description {
  color: $background-color;
}
.modal__technologies {
  font-size: 1.5rem;
  padding: 1.2rem 0;
  font-weight: bold;
}
.modal__technologies-list {
  margin-left: 1.5rem;
  margin-bottom: 1.2rem;
}
.modal__buttons {
  display: flex;
  justify-content: flex-end;

  button {
    cursor: pointer;
    margin-left: 1rem;
    outline: none;
    width: 143px;
    height: 40px;
    color: $background-color;
    font-size: 1rem;
    font-weight: 600;
    border: $accent-color;
    border-style: solid;
    border-width: 3px;
    border-radius: 6px;
    letter-spacing: 1px;
    background: none;
    &:hover {
      transition-duration: 0.3s;
      background-color: $accent-color;
      color: white;
    }
  }
}
@media only screen and (max-width: 768px) {
  .container-fluid {
    padding: 0 0.5rem !important;
  }
  .portfolios {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .portfolio {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 90%;
  }
  .portfolio__image {
    width: 100%;
    height: auto;
    object-fit: contain;
    cursor: pointer;
  }
  .portfolio__footer {
    width: 100%;
  }
  .vm--modal {
    flex-direction: column;
    overflow: auto;
    padding: 1rem;
    display: block;
  }
  .modal__img {
    width: 100%;
    height: auto;
  }
  .modal__content {
    width: 95%;
  }
  .modal__buttons {
    display: flex;
    justify-content: flex-end;

    button {
      width: 120px;
    }
  }
}
</style>
